<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Accept a payment</title>
    <meta name="description" content="A demo of a payment on Stripe" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <div style="margin: 0 auto; display: flex; width: 700px; flex-direction: column; ">
      {% for item in items %}
      <div style="width: 700px; margin: 0 auto 20px; background-color: rgba(100,10,10, .3); color: black; border-radius: 5px; padding: 5px;">
	<div style="font-size: 20px;">
	  {{ item.name }}
	</div>
	<div style="margin: 20px 0px;">
	  {{ item.description }}
	</div>
	<div>
	  price: {{ item.price }} {{ item.currency }}
	</div>
	add to order <input type="checkbox" id="checkbox_{{ item.id }}">
      </div>
      {% endfor %}
      <form action="/action_page.php">
	<label for="fname">Promocode for a discount:</label>
	<input type="text" id="fname" name="fname">
	<button id="button_check_promocode">check</button>
	<br><br>
	<div> hint: try "ROBLOX" as a promocode</div>
	<div> notice: the tax of 1USD or 90RUR is applied to each purchase </div>
      </form>
      <button id="button_buy" style="margin-bottom:40px">BUY</button>
    </div>
  </body>

  <script>
    
    const buy_button = document.getElementById("button_buy")
    let checkboxes = document.querySelectorAll('[id^="checkbox"]');
    buy_button.addEventListener('click', function() {
      console.log(checkboxes)
      for (const checkbox of checkboxes) {
	console.log(checkbox.id.replace("checkbox_", ""))
	console.log(checkbox.checked)
      }
    })
    </script>
</html>
